@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-color: #444;
  --main-bg: #eee;
}

body {
  color: var(--dark-color);
  background: var(--main-bg);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex-grow: 1;
}
